.about {
  margin-top: 100px;
	font-size: 16px;
	font-weight: normal;
	color: var(--black);
}

.hearts{
	font-family: sans-serif;
	display: inline;
}

.about-link {
  color: var(--peacock-blue);
  transition: all .75s ease-out;
}

.about-link:hover {
  color: var(--light-grey);
}
